// Blog article

article
  padding 0 0

  header
    width 100%
    margin 0
    padding 0
    .date
      text-align right
      display block
      font-size 0.55em

  .figure
      text-align center
      img
        max-width 100%
      .caption
        color $imgCaptionColor
        text-align right
        font-size 0.55em
        font-family "verdana", sans-serif
        margin-top 0px
        padding-top 3px

  blockquote
    background-color lighten($backgroundColor, 4)
    border-radius(5px)
    p
      padding 10px
      font-style italic

  pre
    background-color darken($backgroundColor, 4)
    padding 8px
    border-radius(5px)
