$backgroundColor        = #343434
$textColor              = #fff
$linkColor              = #D9E85F
$linkBorderColor        = #999
$titlesColor            = #bbb
$titlesBorderColor      = #444
$imgCaptionColor        = darken($textColor, 20)
$articleHeaderColor     = #bbb
$footerBorderColor      = #444
$separatorBorderColor   = #fff
