body
  background-color $backgroundColor
  color $textColor

header, #content, footer
  width 50%
  margin 10px auto

header, footer
  padding 20px 10%

footer
  border-top 1px solid $footerBorderColor
  margin-top 3em
  font-family sans-serif
  font-size 0.7em
  text-align right

#content
  text-font()
