@charset "UTF-8"
@import "vendor/normalize"

@import "fonts"
@import "colors"
@import "transitions"
@import "common"
@import "header"
@import "article"

@import "layout-default"
@media all and (max-width: 699px) {
  @import "layout-small"
}
