$backgroundColor    = #343434
$textColor          = #fff
$linkColor          = #D9E85F
$imgCaptionColor    = #fff
$articleHeaderColor = #bbb
$footerBorderColor  = #444

@import "normalize"

body
  background-color $backgroundColor
  color $textColor

header, #content, footer
  margin auto 10%
  width 60%
  padding 20px 10%

footer
  border-top 1px solid $footerBorderColor
  margin-top 3em
  font-family sans-serif
  font-size 0.7em
  text-align right

// ---------------------------------------------------------------------------
// Common styles

a, a:visited, a:hover, a:focus, a:active
  color $linkColor
  text-decoration none
  border-bottom 1px #999 dotted

a:hover
  border-bottom 1px #999 solid

.date
  color $articleHeaderColor
  font-family sans-serif
  font-size 0.7em

/* ------------------------------------------------------------------------- */
/* Blog article */
article
  font-family serif
  font-size 1.2em
  line-height 1.6em

  header
    margin 0
    padding 0
    .date
      margin 0 0 0 2em

  .figure, img
      margin 0 10%
      .caption
        color $imgCaptionColor
        text-align right
        font-size 1em
        margin-top 0px
